.ComponentHeader {
  text-align: center;
  color: var(--color-1);
}
.ComponentHeaderH1 {
  color: var(--color-shadow);
  font-size: 3em;
  margin: 50px;
}
@media only screen and (max-width: 500px) {
  .ComponentHeaderH1 {
    font-size: 2em;
  }
}
