:root {
  --color-1: #13293d;
  --color-2: #006494;
  --color-3: #247ba0;
  --color-4: #1b98e0;
  --color-5: #e8f1f2;
  --color-shadow: rgba(0, 0, 0, 0.7);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes spin {
  25% {
    transform: rotate(22deg);
  }
  70% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  background-color: var(--color-5);
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
a{
  text-decoration: none;
  color:var(--color-5)
}
.fa-caret-up{
  color:lightgreen;
}
.fa-caret-down{
  color:darkred;
}