:root {
  --color-1: #13293d;
  --color-2: #006494;
  --color-3: #247ba0;
  --color-4: #1b98e0;
  --color-5: #e8f1f2;
  --grid-columns: repeat(4, minmax(200px, 25%));
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
a{
  text-decoration: none;
  color:var(--color-5)
}
body {
  background-color: var(--color-5);
  color: var(--color-5);
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: var(--color-1);
  font-weight: 400;
  background-color: var(--color-5);
  box-shadow: 0px 1px 15px var(--color-1);
  z-index:69;
}
#search-panel{
  height:100%;
  width: 100%;
  padding-left:20px;
  font-size:1em
}
#cryto-list {
  padding-top:90px;
  margin: auto;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
  justify-content: center;
}
.item {
  background-color: var(--color-3);
}
.item:hover {
  margin-left: -5px;
  margin-top: -5px;
  box-shadow: 5px 5px var(--color-1);
}
.item-header {
  background-color: var(--color-4);
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}
.item-header-icon{
  height:16px;
  width: 16px;
}
.item-header-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item-header-name *{
  margin-right:2px;
}
.item-header-icon{
  background-color: white;
    height: 16px;
    width: 17px;
    border-radius: 50%;
    box-shadow: 1px 1px black;
    padding:0px 2px 0px 0px;
}
.item-header-symbol {
  font-weight: 400;
}
.item-body {
  padding: 10px 15px 20px 15px;
  display: grid;
}
.sort{
  z-index: 100;
  position: fixed;
  bottom:20px;
  height: 50px;
  width: 50px;
  background-color: orangered;
  box-shadow: 3px 3px var(--color-1);
}
.main i{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
}
.sort:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  
  cursor: pointer;
}
.sort:active{
  background-color:lightblue;
}
#sort-alphabet{
  right:20px;
}
#sort-rank{
  right:75px;
}
#sort-price{
  right:130px;
}
